*{
    margin:0;
    padding: 0;
}


#grillaLayout{
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "section aside"
    "footer footer"
    ;
grid-template-columns: auto 450px;
grid-template-rows: auto;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

header, footer{
    background-image: linear-gradient(to bottom,#ff66b3, #ff6666) ; 

}

section{
    background-image: url("../assets/img/imagenfondo.jpg");
    background-size:cover;
    
}

aside{
    background-color: #ffff99 ;
    
}


header h1{
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 80px;
    font-weight: bold;
    color: #ffff99;
    padding: 15px;
}

nav{
    background-color: #ffff99;
    text-align: center;
    
}

.menuPrincipal li{
    display: inline-block;
    margin: 10px;


}

.menuPrincipal li a{
    text-decoration: none;
    color:#990099;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    display: inline;
    margin: 10px;
    
}

.menuPrincipal li a:hover{
    color:#00e6b8;
}


section h2{
    font-family: 'Parisienne', cursive;
    font-size: 60px;
    color:#e6005c;
}

h2{
    margin: 0px 15px 15px 15px;
    padding: 15px;
    text-align: center;
    
}


.video{
    margin: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;

}

iframe{
    border: #ff66b3;
    border-style: inset;
    border-width: 8px;
    padding: 3px;
}

#contenedorCajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cajasInicio{
    display: flex;
    margin: 30px;
    border-radius: 100%;
    background-color: #ffff99;
    width: 180px;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    transition: all 1s ease-in-out;

}

.cajasInicio:hover{
    width: 200px;
    height: 180px;
    background-color:#990099;
}

.cajasInicio a{
    font-family:  'Varela Round', sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 65px 10px;
    transition: all 1s ease-in-out;
}

.cajasInicio a:hover{
    font-size: 22px;
    color: #ffff99;
}

footer{
    font-family:  'Varela Round', sans-serif;
    color:#660066;
    font-size: 15px;
    padding: 15px;
   
}

footer ul{
    margin: 0 15px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

footer ul li{
    margin: 10px;
    display: inline;
  
}

footer ul li a{
    text-decoration: none;
    color:#ffff99;
}

footer ul li a:hover{
    text-decoration: underline;
}

/* Estilos páginas: fragancias, maquillaje y tratamiento */

#grilla2Layout{
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "section aside"
    "footer footer"
    ;
grid-template-columns: auto 100px;
grid-template-rows: auto;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

section{
    grid-area: section;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

#filtrosProductos{
    margin: 10px;
    padding: 10px;
    
}

#filtrosProductos li{
    margin: 2px;
    padding: 8px;
    display: inline-block; 
    border: 2px solid #ff9933;
    background-color: #ff9933;
    
}


#filtrosProductos li:hover{
    background-color: #ff6666;
    border: 2px solid #ff6666;
}

#filtrosProductos li a{
    margin: auto;
    padding: 15px;
    text-decoration: none;
    color: white;
    list-style-type: none;
    font-family:  'Varela Round', sans-serif ;
    font-size: 25px;

}

#contenedorProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.productosTienda{
    margin: 15px 5px;
    /* padding: 2px; */
    width: 350px;
    border: 3px dotted #ff9933;
    animation-name: animacionProductos;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
 
}

@keyframes animacionProductos{
    0% {
        opacity: 0;    ;
    }

    100%{
        opacity: 1;
    }
     
} 


.productosTienda:hover{
    border: 3px solid #ff6666;
}

#barraLateral{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#barraLateral h5{
    margin: 5px;
    font-family:  'Varela Round', sans-serif ;
    font-size: 15px;
    text-align: center;
}

.iconosRedes{
    width:50px;
    margin: 50px 25px;
}


/* Estilos página Contacto */

#grillaContacto{
    /* margin-left: 20px ; 
    margin-right: 20px; */
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(to right, #ffe6ff, #ff66a3) ;
    display: grid;
    grid-template-areas:
    "nombre respuestaNombre"
    "apellido respuestaApellido"
    "e-mail respuestaMail"
    "favorita seleccion"
    "catalogo checkbox"
    "comentario comentario"
    "campoComentario campoComentario"
    "enviar limpiar"    
    ;
    column-gap: 3px;
    row-gap: 8px;
    grid-template-columns: 200px 250px;
    font-family: 'Varela Round', sans-serif ;
    font-size: 20px;
    text-align: left;
}

#cajaNombre{
    grid-area: nombre;
}

#respuestaNombre{
    grid-area: respuestaNombre;
}

#cajaApellido{
    grid-area: apellido;
}

#respuestaApellido{
    grid-area: respuestaApellido;
}

#cajaMail{
    grid-area: e-mail;
}

#respuestaMail{
    grid-area: respuestaMail;
}

#cajaFavorita{
    grid-area: favorita;
}

#seleccion{
    grid-area: seleccion;
}

#contactoParte2{
    grid-area: catalogo;
}

#check{
    grid-area: checkbox;
    margin: 4px;
    width: 20px;
    height: 20px;
    border: 2px solid #ff66b3;
}

#tituloComentario{
    grid-area: comentario;
}

#campoComentario{
    grid-area: campoComentario;
}

#boton1{
    grid-area: enviar;
    margin: 10px;
}

#boton2{
    grid-area: limpiar;
    margin: 10px;
}

.fuenteContacto{
    font-family: 'Varela Round', sans-serif ;
    font-size: 20px;
    border: 2px solid #ff66b3;
    border-radius: 10px;
}


/* Estilos mobile */

@media screen and (max-width: 1000px) {

    .cajasInicio:hover{
        width: 180px;
        height: 150px;
    }
    .cajasInicio a:hover{
        font-size: 20px;
    }
}


@media screen and (max-width: 768px) {

    #grillaLayout {
        display: grid;
        grid-template-areas:
        "header"
        "nav"
        "section"
        "aside"
        "footer"
        ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    }
    
    header{
        grid-area: header;
    }
    
    nav{
        grid-area: nav;
    }
    
    section{
        grid-area: section;
    }
    
    aside{
        grid-area: aside;
    }
    
    footer{
        grid-area: footer;
    }


    #grilla2Layout{
        display: grid;
        grid-template-areas:
        "header"
        "nav"
        "section"
        "aside"
        "footer"
        ;
    grid-template-columns: auto;
    grid-template-rows: auto;
    }
    
    header{
        grid-area: header;
    }
    
    nav{
        grid-area: nav;
    }
    
    section{
        grid-area: section;
    }
    
    aside{
        grid-area: aside;
    }
    
    footer{
 
        grid-area: footer;
    }

    #barraLateral{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }

}